.gradient{
    -fx-background-color: linear-gradient(to bottom right,#38c13c,#39c1a6);
}

.head-label{
    -fx-text-fill: black;
    -fx-border-width: 0 0 0 3px;
    -fx-border-color: black;
    -fx-padding: 5px;
}

.login-button{
    -fx-background-color: linear-gradient(to bottom right,#38c13c,#39c1a6);
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.login-button:hover{
    -fx-background-color: linear-gradient(to bottom right,#2edb68,#28e094);
}

.create-button{
    -fx-background-color: transparent;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.create-button:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}